body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

#cover{
    background-color: grey;
    border-radius: 20px;
    width: 360px;
    height: 97vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

#display{
    background-color: #121212;
    height: 17vh;
    border-radius: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.Buttons{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.topButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.numButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    flex: 1;
}

.topButtons button,
.numButtons button {
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}